@import "../bootstrap/scss/functions";

@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

$spacers: map-merge($spacers, (
	10vh: 10vh
));

@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

@import "../bootstrap/scss/type";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/containers";

@import "../bootstrap/scss/utilities";
$utilities: map-merge(
	$utilities,
	(
		"width": map-merge(
			map-get($utilities, "width"),
			(
				values: map-merge(
					map-get(map-get($utilities, "width"), "values"),
					(
						1rem: 1rem
					)
				)
			)
		)
	)
);

@import "../bootstrap/scss/utilities/api";

@import "../bootstrap/scss/close";
@import "../bootstrap/scss/buttons";

@import "modal";

@font-face {
	font-weight: 300;
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
	font-weight: 400;
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
	font-weight: 700;
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Bold.ttf");
}

:root {
	--red-primary: #ff4444;
	--white-primary: #f5f5f5;
	--black-primary: #1f1f1f;
	--black-secondary: #282828;
	--black-tertiary: #333333;

	--btn-padding-y: 0.5em;
	--btn-padding-x: 2em;
	--box-padding-y: 0.25em;
	--box-padding-x: 0.5em;

	--box-shadow-primary: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
	--box-shadow-secondary: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

ul {
	margin: 0 !important;
}

body {
	font-family: "Poppins" !important;
}

img {
	max-height: 100%;
}

$navbar-height: 10vh;
$primary-color: #fff;

#navbar {
	width: 100%;
	z-index: 1;
	display: flex;
	position: fixed;
	padding: 0 2.5vw;
	align-items: center;
	color: $primary-color;
	height: $navbar-height;
	background-color: #222;
	justify-content: space-between;

	> .logo {
		height: 100%;
		display: flex;
		padding: 1vh 0;
		column-gap: 1vw;
		font-weight: bold;
		align-items: center;
	}

	> .list {
		display: flex;
		column-gap: 1vw;
		list-style: none;

	}
}

.nav-link {
	color: #999;
	text-decoration: none;
	transition: color .25s;

	&:hover, &.active {
		color: #fff;
	}
}

.navbar > div,
.navbar-nav {
	display: flex
}

.navbar-nav {
	column-gap: 1rem;
}

.fw-black {
	font-weight: 900 !important;
}

.btn {
	&.kontak {
		transition: 0.15s;
		color: var(--white-primary);
		border: 1px solid var(--white-primary);
		padding: var(--btn-padding-y) var(--btn-padding-x);

		&:hover {
			color: var(--red-primary);
			background-color: var(--white-primary);
		}
	}
}

.vh-100 {
	height: 100vh !important;
}

#heroImg {
	height: 400px;
	object-fit: cover;
	object-position: bottom;

}

.text-box {
	font-weight: 700;
	color: var(--white-primary);
	background-color: var(--red-primary);
	padding: var(--box-padding-y) var(--box-padding-x);
}

.visi-misi {
	background-color: var(--red-primary);

	h2 {
		font-size: 7rem;
	}
}

.misi-content p {
	max-width: 25ch;
}

.card-pengurus {
	padding: 13px auto 13px 13px !important;
	box-shadow: var(--box-shadow-secondary);
}

.pengurus-img img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100%;
}

.custom-btn {
	padding: var(--btn-padding-y) var(--btn-padding-x);
	border: 1px solid var(--red-primary);
	color: var(--red-primary);
	text-decoration: none;
	transition: 0.15s;

	&:hover {
		color: var(--white-primary);
		background-color: var(--red-primary);
	}
}

#program {
	margin-bottom: 5vh;
}

.program-card {
	border: none;
	display: flex;
	row-gap: 2rem;
	padding: 20px;
	border-radius: 1vmin;
	flex-direction: column;
	background-color: #fff;
	transition: opacity .5s;
	box-shadow: 1.25vh 1.25vw 2.5vmin rgba(0, 0, 0, .25);

	&:hover {
		opacity: .5;
	}

	.title {
		display: flex;
		text-align: center;
		justify-content: center;

		> span {
			width: 25%;
			font-size: 2rem;
		}
	}
}
