$red-primary: #9a3d36;
$white-primary: #f5f5f5;
$black-primary: #1f1f1f;
$black-secondary: #282828;
$black-tertiary: #333333;

$btn-padding-y: 0.5em;
$btn-padding-x: 2em;
$box-padding-y: 0.5em;
$box-padding-x: 1em;

$box-shadow-primary: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
$box-shadow-secondary: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
