@use "variables";

@import "modal";
@import "form";

@import url("fonts.css");

ul {
	margin: 0 !important;
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	color: variables.$white-primary;
	font-family: "Poppins" !important;
}

img {
	max-height: 100%;
}

a {
	text-decoration: none;
	color: variables.$black-primary;
}
