body {
  color: #fff;
}

main {
  width: 100%;
  padding-top: 5vh;
}

section {
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  padding: 2.5vh 0;
  margin-top: 25vh;
  column-gap: 2.5rem;
  justify-content: center;
  background-color: #9a3d36;
}
footer > a {
  display: grid;
  padding: 1rem 2rem;
  place-items: center;
  border-radius: 1rem;
  transition: box-shadow 0.25s;
}
footer > a:hover {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
}
footer > a > img {
  width: 4rem;
}

.hidden {
  display: none;
}

#visi-misi {
  color: #fff;
  display: flex;
  box-sizing: border-box;
  padding: 0 1rem;
  row-gap: 2.5rem;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  #visi-misi {
    padding: 0 5rem;
  }
}
#visi-misi > div {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 1rem 2rem;
  column-gap: 4rem;
  align-items: center;
  justify-content: space-between;
  background-color: #9a3d36;
}
@media screen and (min-width: 1440px) {
  #visi-misi > div {
    padding: 0 4rem;
    text-align: left;
    flex-direction: row;
  }
}
#visi-misi > div > span:first-child {
  font-size: 7rem;
  font-weight: bold;
}
@media screen and (min-width: 1440px) {
  #visi-misi > div#misi {
    flex-direction: row-reverse;
  }
}
#visi-misi > div#misi > div {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  #visi-misi > div#misi > div {
    flex-direction: row;
  }
}

#program {
  width: 100%;
  display: flex;
  row-gap: 3rem;
  margin-top: 10vh;
  margin-bottom: 5vh;
  align-items: center;
  flex-direction: column;
}
#program > div {
  width: 100%;
  display: flex;
  padding: 0 7.5%;
  flex-wrap: wrap;
  box-sizing: border-box;
}
